@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    position: relative; /* to make absolute child elements stay within it */
}

.text-color {
    color: #34435E;
}

.hr-color {
    background-color: #34435E;
}

.navbar-text {
    font-size: medium;
    color: #e5e7eb;
}
